
{% extends 'base.html' %}

{% load static %}

{% block css %} 

{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-4">Cadastrar Ordem de Serviço

    <a href="{% url 'customers_create' %}" class="btn btn-success float-end">
        <i class="bi bi-plus">Cadastrar Cliente</i>
    </a>
    <a href="#" class="btn btn-success float-end">
        <i class="bi bi-plus">Cadastrar Marca</i>
    </a>
    </h3>
    <div class="card">
        <div class="card-body" id="formulario">
            <form method="post" class="form">{% csrf_token %}
                
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Salvar</button>

            </form>
        </div>
    </div>
    <a href="{% url 'service_orders' %}" class="btn btn-secondary mt-3">Cancelar</a>
</div>  

{% block js %}


    
{% endblock %}

{% endblock %}
