{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="display-4">Excluir Ordem de Serviço</h3>
    <div class="card-body">
        <p>Tem certeza que deseja excluir a Ordem de Serviço: </p>
        <p class="display-6"> {{ object.id }} - {{ object.client }} </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'service_orders' %}" class="btn btn-secondary"> Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
